name: Testy Pythona
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Konfiguracja Pythona
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Uruchom test
      run: python test_calc.py
